<perch:form id="add_email" method="post" app="hello_church" action="/communication">

	<perch:success show-form="true">
		<article class="flow">
			<p class="alert success">Email created.</p>
		</article>
	</perch:success>

	<article class="flow">
		<div>
			<perch:label for="emailSubject">Email Subject</perch:label>
			<perch:input type="text" id="emailSubject" required="true" label="Email Subject" />
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="hidden" value="Draft" name="emailStatus" />
		<perch:input type="submit" value="Create Email" class="button primary" />
	</footer>

</perch:form>