<perch:form id="create_family" method="post" app="hello_church">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success">Family created.</p>
			</article>
			<footer>
				
			</footer>
		</perch:success>
		<div>
			<perch:label for="familyName">Role Name</perch:label>
			<perch:input type="text" id="familyName" required="true" label="Family Name" />
			<perch:error for="familyName" type="required"><p class="help error">Please add a your family's name</p></perch:error>
		</div>
		<div>
			<perch:label for="familyDescription">Family Description</perch:label>
			<perch:input type="textarea" class="redactor" id="familyDescription" label="Family Description" />
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="submit" value="Save" class="button primary" />
	</footer>

</perch:form>