<perch:form id="create_series" method="post" app="hello_church">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success"><span class="material-symbols-outlined">check_circle</span>Series created</p>
			</article>
			<footer>
				
			</footer>
		</perch:success>
		<div>
			<perch:label for="seriesName">Series Name <span class="required">Required</span></perch:label>
			<perch:input type="text" id="seriesName" required="true" label="Series Name" />
			<perch:error for="seriesName" type="required"><p class="help error">Please add a your series name</p></perch:error>
		</div>
		<div>
			<perch:label for="seriesDescription">Series Description</perch:label>
			<perch:input type="textarea" class="redactor" id="seriesDescription" label="Series Description" />
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="submit" value="Save" class="button primary" />
	</footer>

</perch:form>