<perch:form id="create_role" method="post" app="hello_church">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success"><span class="material-symbols-outlined">check_circle</span>Role created</p>
			</article>
			<footer class="end">
				<a class="button secondary" href="/settings/roles/#form1_create_role">Add Role</a>
			</footer>
		</perch:success>
		<div>
			<perch:label for="roleName">Role Name <span class="required">Required</span></perch:label>
			<perch:input type="text" id="roleName" required="true" label="Role Name" />
			<perch:error for="roleName" type="required"><p class="help error">Please add a your role's name</p></perch:error>
		</div>
		<div>
			<perch:label for="roleDescription">Role Description</perch:label>
			<perch:input type="textarea" class="redactor" id="roleDescription" label="Role Description" />
		</div>
		<div>
			<perch:label for="roleType">Role Type</perch:label>
			<perch:input type="select" id="roleType" label="Role Type" options="Individual,Family" />
		</div>
		<div>
			<perch:label for="roleExclusivity">Role Exclusive</perch:label>
			<perch:input type="select" id="roleExclusivity" label="Role Exclusivity" options="Exclusive,Not Exclusive" />
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="submit" value="Save" class="button primary" />
	</footer>

</perch:form>