<perch:form id="create_church" method="post" app="hello_church" action="/subscription">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success"><span class="material-symbols-outlined">check_circle</span>Success! You can now add Contacts, Events and other details and setup your subscription.</p>
			</article>
			<footer>
				<a class="button primary" href="/dashboard">Continue to Dashboard</a>
			</footer>
		</perch:success>
		<div>
			<perch:label for="churchName">Church or Organisation Name <span class="required">Required</span></perch:label>
			<perch:input type="text" id="churchName" required="true" label="Name" />
			<perch:error for="churchName" type="required"><p class="help error">Please add a your organisation name</p></perch:error>
		</div>
		<div>
			<perch:label for="churchEmail">Email <span class="required">Required</span></perch:label>
			<perch:input type="email" id="churchEmail" required="true" label="Email" placeholder="you@example.com" value="<perch:forms id="email">" />
			<perch:error for="churchEmail" type="required"><p class="help error">Please add a your email address</p></perch:error>
		</div>
		<div>
			<perch:label for="churchWebsite">Website</perch:label>
			<perch:input type="url" id="churchWebsite" label="Website" placeholder="https://example.com" pattern="https://.*" />
			<perch:error for="churchWebsite" type="required"><p class="help error">Please add a your website address</p></perch:error>
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="submit" value="Save" class="button primary" />
	</footer>

</perch:form>