<perch:form id="delete_role" method="post" app="hello_church" action="/settings/roles?msg=role_deleted">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success">Role deleted.</p>
			</article>
			<footer>
				<a class="button primary" href="/settings/roles">Roles</a>
			</footer>
		</perch:success>
		<div>
			<p><strong>This is permanent and cannot be un-done.</strong></p>
			<p>By clicking the button below you will be deleting <strong><perch:forms id="roleName" /></strong> from your account.</p>
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="roleID">" name="roleID" />
		<perch:input type="submit" value="Delete Role" class="button danger" />
	</footer>

</perch:form>