<perch:form id="delete_admin" method="post" app="hello_church" action="/settings/admin?msg=admin_deleted">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success"><span class="material-symbols-outlined">check_circle</span>Administrator deleted</p>
			</article>
			<footer>
				<a class="button primary" href="/settings/admin">Admin</a>
			</footer>
		</perch:success>
		<div>
			<p>By clicking the button below you will be deleting this administrator from your account.</p>
			<p>They will no longer have access to your church account or content.</p>
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="adminID">" name="adminID" />
		<perch:input type="submit" value="Delete Administrator" class="button danger" />
	</footer>

</perch:form>