<perch:form id="download_rota_role" method="post" app="hello_church">
	<article>
		<label>Select Roles to Export</label>
		<perch:forms id="roles" encode="false"/>
		<!-- <label>File Type</label>
		<perch:input type="select" options="PDF,CSV" id="type" /> -->
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="hidden" value="<perch:forms id="contactID">" name="contactID" />
	</article>
	<footer>
		<perch:input type="submit" value="Download Rota" class="button secondary" />
	</footer>
</perch:form>