<perch:form id="export_contacts" method="post" app="hello_church" action="/contacts">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success">Contacts exported.</p>
			</article>
			<footer>
				<a class="button primary" href="/contacts">Contacts</a>
			</footer>
		</perch:success>
		<div>
			<p><strong>Click below to download a copy of your contacts data in CSV format.</strong></p>
		</div>
	</article>

	<footer>
		<perch:input type="submit" value="Export Contacts" class="button primary" />
	</footer>

</perch:form>