<perch:form id="import_contacts" method="post" app="hello_church" enctype="multipart/form-data">

	<article class="flow">
		<perch:success>
			<article class="flow">
				<p class="alert success"><span class="material-symbols-outlined">check_circle</span>Contacts imported</p>
			</article>
			<footer>
				<a class="button primary" href="/contacts">Contacts</a>
			</footer>
		</perch:success>
		<div>
			<p><strong>Please <a href="/hellochurch_contacts_template.csv">click here</a> to download a template for your contact data before uploading it.</strong></p>
			<p>Please:</p>
			<ul>
				<li>Only upload a CSV file</li>
				<li>Use the template to create a CSV with the correct structure</li>
				<li>Limit imports to 500 contacts</li>
			</ul>
		</div>
		<div>
			<div>
				<perch:label for="csv">Upload Your CSV</perch:label>
				<perch:input type="file" id="csv" name="csv" required="true" label="CSV" accept=".csv" />
				<perch:error for="csv" type="required"><p class="help error">Please upload a file</p></perch:error>
			</div>
		</div>
	</article>

	<footer>
		<perch:input type="submit" value="Import Contacts" class="button primary" />
	</footer>

</perch:form>