<perch:form id="update_file" method="post" app="hello_church" action="?id=<perch:forms id="fileID" />">

	<perch:success show-form="true">
		<article class="flow">
			<p class="alert success"><span class="material-symbols-outlined">check_circle</span>File updated</p>
		</article>
	</perch:success>

	<article class="flow">
		<div>
			<perch:label for="name">File Name <span class="required">Required</span></perch:label>
			<perch:input type="text" id="fileName" required="true" label="File Name" />
		</div>
		<div>
			<perch:label for="parent">Folder</perch:label>
			<perch:input type="select" id="folderID" options="<perch:forms id="folders">" />
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="fileID">" name="fileID" />
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="submit" value="Update File" class="button primary" />
	</footer>

</perch:form>