<perch:form id="update_folder" method="post" app="hello_church" action="/documents?id=<perch:forms id="folderID">">

	<perch:success show-form="true">
		<article class="flow">
			<p class="alert success">Folder updated.</p>
		</article>
	</perch:success>

	<article class="flow">
		<div>
			<perch:label for="name">Folder Name</perch:label>
			<perch:input type="text" id="folderName" required="true" label="Folder Name" />
		</div>
		<div>
			<perch:label for="parent">Change Parent</perch:label>
			<perch:input type="select" id="folderParent" options="<perch:forms id="folderParent">" />
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="folderID">" name="folderID" />
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="submit" value="Update Folder" class="button primary" />
	</footer>

</perch:form>