<perch:form id="update_note" method="post" app="hello_church" action="/contacts/edit-note?id=<perch:forms id="contactID" />&noteID=<perch:forms id="noteID" />">

	<article class="flow">
		<perch:success show-form="true">
			<p class="alert success"><span class="material-symbols-outlined">check_circle</span>Note updated</p>
		</perch:success>
		<div>
			<perch:label for="subject">Subject <span class="required">Required</span></perch:label>
			<perch:input type="text" id="subject" required="true" label="Subject" />
		</div>
		<div>
			<perch:label for="contactNote">Edit Note <span class="required">Required</span></perch:label>
			<perch:input type="textarea" id="note" required="true" label="Note" class="redactor" />
		</div>
	</article>

	<footer>
		<perch:input type="hidden" value="<perch:forms id="memberID">" name="memberID" />
		<perch:input type="hidden" value="<perch:forms id="contactID">" name="contactID" />
		<perch:input type="hidden" value="<perch:forms id="churchID">" name="churchID" />
		<perch:input type="hidden" value="<perch:forms id="noteID">" name="noteID" />
		<perch:input type="submit" value="Update Note" class="button primary" />
	</footer>

</perch:form>