/** PUBLIC STUFF **/

#email{
	display:none;
}

*:disabled {
  background-color: dimgrey !important;
  color: #fff !important;
  cursor: default;
  opacity: 1;
}

.bible{
  background:#fff;
}

.training h1:not(:first-child){
  font-size:var(--size-step-3);
}