<perch:form id="reset" method="post" app="perch_members">
	<article class="flow">
		<perch:success>
		<div>
			<p class="alert success"><span class="material-symbols-outlined">check_circle</span>A new password has been emailed to you</p>
		</div>
		</perch:success>
		<div>
			<perch:label for="email">Enter your email address <span>Required</span></perch:label>
			<perch:input type="email" id="email" required="true" label="Email" placeholder="you@company.com" helper="PerchMembers_Members::check_email_exists" />
			<perch:error for="email" type="required"><p class="alert error"><span class="material-symbols-outlined">error</span>Please add your email address</perch:error>
			<perch:error for="email" type="helper"><p class="alert error"><span class="material-symbols-outlined">error</span>We don't have an account with that email address</p></perch:error>
		</div>
	</article>
	<footer>
		<perch:input type="submit" value="Reset" class="button primary" />
	</footer>

</perch:form>