<perch:form id="login" method="post" app="perch_members">

	<article class="flow">
		<perch:error for="all" type="login">
			<p class="alert error"><span class="material-symbols-outlined">error</span>Those details do not match our records</p>
		</perch:error>	
		<div>
			<perch:label for="email">Email <span class="required">Required</span></perch:label>
			<perch:input type="email" id="email" required="true" label="Email" />
			<perch:error for="email" type="required"><p class="alert warning"><span class="material-symbols-outlined">error</span>Required field</p></perch:error>
			<perch:error for="email" type="format"><p class="alert error"><span class="material-symbols-outlined">error</span>Please check format of email address</p></perch:error>
		</div>
		<div>
			<perch:label for="password">Password <span class="required">Required</span></perch:label>
			<perch:input type="password" id="password" required="true" label="Password" />
			<perch:error for="password" type="required"><p class="alert error"><span class="material-symbols-outlined">error</span>Required field</p></perch:error>
		</div>
	</article>
	<footer>
		<perch:input type="submit" id="submit" value="Sign In" class="button primary" />
		<perch:input type="hidden" id="r" />
	</footer>

</perch:form>